<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        button {
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
        }
    </style>

</head>

<body>
    <!-- {time : ['0800' , '1300'] , medication :[ 1,'bloodpressure' ], dose : 2 ,   }

{phonenumber : 12345678, timezome : 'gmt'} -->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Pill Dispenser</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/setup">Setup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/config">Insert Configuration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./settings">Update Configuration</a>
          </li>

        </ul>

        <ul class='navbar-nav ms-auto'>
          <li class="nav-item">
            <a class="nav-link login" href='./login'>login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <div class='container'>

        <h2>Login</h2>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}

        <form  id='mainform' action = "/login" method = 'POST'> </form>
   

        <div class="form-group ml-2">
            <div class=" mb-3  row">
                <label for="username" class='col-form-label col-2'>Username </label>
                <div class='col-6'>
                    <input type="text" class="form-control " id="username"
                        placeholder="" required name='username' form='mainform'>
                </div>
            </div>
            <div class=" mb-3  row">
                <label for="password" class='col-form-label col-2'>Password</label>
                <div class='col-6'>
                    <input type="password" class="form-control " id="password"
                        placeholder="" required name='password' form='mainform'>
                </div>
            </div>

            <input type="submit" class = 'btn btn-primary' value = 'Login' form = 'mainform'>            

        

        </div>

<!-- 
    <script>

        $(window).on('load', function () {
            for (var i = 0; i <= 23; i++) {
                $("#timings").append(`<option value="${i}">${i}</option>`)

            }
            $("body").on('click', 'button.delbutton', (event) => {
                $(event.currentTarget).parent().remove()
            })
            var counter = 0


            $("#buttonadd").click(() => {
                console.log('click');
                $("#timing").append(`<div class = 'd-flex mt-2'>
                            <input class='form-control' type="time" id="appt" name="appt${++counter}" min="09:00" max="18:00" step=1800
                                required form = 'subform'>
                             <button class = 'delbutton'>
                                 <span class= 'svg'>
                                        <svg  xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                          </svg>
                                 </span>
                             </button>
                       </div>`)

                $(".svg").html($(".svg").html());


            })


            $('#submitmainform').click(() => {


                var formdata = new FormData(document.querySelector('#mainform'))
                console.log(formdata.keys())

                for (const value of formdata.entries()) {
                    console.log(value[0], value[1])
                }


                var data = Object.fromEntries(formdata.entries())
                var subformdata = new FormData(document.querySelector('#subform'))
                var stockformdata = new FormData(document.querySelector('#stockform'))



                data['mappings'] = Object.fromEntries(subformdata.entries())
                data['stocks'] = Object.fromEntries(stockformdata.entries())



    //            console.log(Object.fromEntries(subformdata.entries()))

                console.log('------')
                console.log(data)// form data
                console.log('------')

                //  axios.post("/config", data)



                //config
                //dashboard 
                //settings (phone number)
                //medsettings (mapping between cylinder and medication )
                //login 



            })


            // $('#submitsubform').click(() => {


            //     var formdata = new FormData(document.querySelector('#subform'))
            //     console.log(formdata.keys())

            //     for (const value of formdata.entries()) {
            //         console.log(value[0], value[1])
            //     }


            //     var data = Object.fromEntries(formdata.entries())

            //     console.log(data)
            //     //    axios.post("/config", data)





            // })


        })



    </script>
 -->

</body>



</html>